:root {
  --almost-black: #2c2f33;
  --cold-winds: #3460fe;
  --winter-morning: #ffffff;

  --font-text: 'Monda', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-text);
  color: var(--almost-black);
}
